
/* ======= ======= ======= ======= ======= general ======= ======= ======= ======= ======= */
html, body {
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family: "Ariel", sans-serif;
    border: 2px solid cadetblue;
}

/* ======= ======= =======  sections  ======= ======= ======= */
.section {
    margin: 20px;
    padding: 10px;
    border: 2px solid purple;
}

/* ======= header ======= */
#header {
    background-color: #ddd;
}

/* ======= container ======= */
#container {
    height: 120px;
    border: 2px solid darkorange;
}

/* ======= menu ======= */
#menu {
    position: relative;
    top: 20px;
    left: 20px;
    width: 80%;
    height: 80px;
    border: 2px solid red;
}
.menu-button {
    float: left;
    width: 80px;
    height: 60px;
    margin: 10px;
    background-color: orange;
    border: 2px solid purple;
}
.menu-button:hover {
    background-color: red;
    border: 2px solid blue;
}







/* ======= ======= =======  ARCHIVE  ======= ======= ======= */
/* ======= ======= =======  ARCHIVE  ======= ======= ======= */
/* ======= ======= =======  ARCHIVE  ======= ======= ======= */
